.draggable {
  -webkit-app-region: drag;
}

a, button {
  cursor: default;
}

.preview {
  background-color: var(--secondary);
  transition: background-color 150ms linear;
}

.preview:focus {
  background-color: var(--background);
  transition: background-color 250ms linear;
}
