.draggable {
  -webkit-app-region: drag;
}

a, button {
  cursor: default;
}

.preview {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--secondary);
  background-color: var(--secondary);
  transition: background-color 150ms linear;
}

.preview:focus {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--border);
  background-color: var(--secondary);
  transition: background-color 250ms linear;
}
