@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #000000;
    --card: #fafafa;
    --card-foreground: black;
    --popover: #fafafa;
    --popover-foreground: black;
    --primary: black;
    --primary-foreground: #fafafa;
    --secondary: #F0F0F0;
    --secondary-foreground: #fafafa;
    --muted: #fafafa;
    --muted-foreground: #000000;
    --accent: #e2e2e2;
    --accent-foreground: black;
    --destructive: #F0F0F0;
    --destructive-foreground: #F0F0F0;
    --border: #c5c5c5;
    --input: #F0F0F0;
    --ring: #fafafa;
    --radius: 0.75rem;

    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
